
@using (Html.BeginForm("FilmAra", "Home", FormMethod.Post,new { enctype="multipart/form-data"}))
{
    <form action="#" method="get" accept-charset="utf-8">
        <label for="search-field">Arama</label>
        <input type="text" name="Ara" value="" id="Ara" class="blink search-field" />
        <input type="submit" value="Ara" class="search-button" />
    </form>
}


