
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/icerikgoster.cshtml";
}

<div>
    <table border="0" style="width:800px;">
        <tr>
            <td>
               <h1>Bizi Tercih Ettiğiniz İçin Teşekkürler</h1>
                <br />
            </td>

        </tr>
        <tr>
            <td>
             <p>Bu site dumlupınar üniversitesi tez ödevi için hazırnamş olup yayına sokulmuştur.Eksik ve kusurları görmezden gelerek sitenin keyfini çıkarın. <h3>Www.ayaklisinema.com </h3>adlı sitemizde bulunan film, videolar, film fragmanları ve diğer tüm videolar çeşitli paylaşım ortamlarında da bulunmaktadır. Sitemiz sadece youtube.com, video.google.com, yahoo.com vb. sitelerde eklenmiş ve paylaşıma açılmış videoları yayınlamaktadır. Server'ımıza kesinlikle yükleme yapılmamaktadır. Bu yüzden ayaklisinema.com sitesi hiç bir yasal yükümlülüğe tabi tutulamaz. İstenildiği takdirde hak sahipleri videoların kaldırılması talebinde bulunubilirler. <h3>www.ayaklisinema.com </h3> açıldığı ilk günden beri (2017) sadece fragman ve film konularını bildirme amaçlı bilgi yayınlayan sitemiz sizlere kaliteli bilgi edinme garantisini vermektedir. Envarterimizde HD Yada SD kalitede fragmanlar barındırmamaktayız.  Özellikle site kullanımı özelliklerimiz bizi tercih sebebidir bunun bilincindeyiz. Siz değerli ziyaretçilerimizi daha iyileri ile tanıştırmak için elimizden gelen bütün gayreti göstermeyiz ve bu yüzden siz değerli ziyaretçilerimiz için çok yoğun çaba ve mesai harcamaktayız. Gerekli açıklamayı sitemizin üst kısmında yaptık dilerseniz oradan bu konu hakkında bilgi sahibi olabilirsiniz.</p>
            </td>

        </tr>

    </table>

    <br />
    <br />
    <br />

    <h1>Eiletişim Bilgisi</h1>
    <table>
        <tr>
        
            <td>
                emrebas64@gmail.com
            </td>
        </tr>
    </table>
</div>

